@import './../../scss/mixins';

.Navbar {
  padding: em(48) em(0);
  background-color: transparent;
  position: absolute;
  z-index: 1;
  width: 100%;

  @include breakpoint(md) {
    padding: em(64) em(0);
    width: 50%;
  }

  &__mobile {
    position: relative;

    @include breakpoint(md) {
      display: none;
    }
  }

  &__mobile-toggle {
    position: absolute;
    left: 24px;
    line-height: 0;
  }

  &__mobile-menu {
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: var(--black-transparent);

    @include breakpoint(md) {
      display: none;
    }

    &.open {
      display: block;
      top: 0;

      @include breakpoint(md) {
        display: none;
      }
    }
  }

  &__logo {
    cursor: pointer;
  }

  &__links {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;
    font-size: em(12);
    font-weight: 700;
    list-style: none;
    padding: 48px 0;
    margin: 0;
    background-color: var(--white);

    @include breakpoint(md) {
      padding: 0;
      justify-content: flex-start;
      background-color: transparent;
    }

    .logo {
      @include breakpoint(md) {
        margin-left: 40px;
        margin-right: 28px;
      }
      @include breakpoint(lg) {
        margin-left: 64px;
        margin-right: 56px;
      }
    }

    .close-mobile-menu {
      margin-left: 26px;
      margin-right: 66px;
      cursor: pointer;
    }

    li:last-child {
      margin-right: 24px;
    }
  }

  &__link {
    text-decoration: none;
    color: var(--black);

    @include breakpoint(md) {
      color: var(--white);
      margin-right: 16px;
    }

    @include breakpoint(lg) {
      margin-right: 32px;
    }
  }

  &__desktop {
    display: none;

    @include breakpoint(md) {
      display: block;
    }
  }
}
