@import './scss/main.scss';
.App {
  text-align: center;

  .attribution {
    color: var(--white);
    font-size: 11px;
    text-align: center;
    padding: 20px 32px;
  }
  .attribution a {
    color: var(--dark-gray);    
  }
}
