@import './scss/main.scss';
.App {
  text-align: center;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;

  &__hero {
    // display: flex;
    // overflow: hidden;
  }

  .attribution {
    color: var(--white);
    font-size: 11px;
    text-align: center;
    padding: 20px 32px;
  }
  .attribution a {
    color: var(--dark-gray);
  }
}
